@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

body {
    font-family: "Lato", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    /* background-color: #fff; */
    background-color: #e7edfa;
    /* background-image: url(/public/icons/circle.svg); */
}

.container {
    /* border: solid red; */
    max-width: 1140px;
    margin: 0 auto;
}

.form-dark {
    /* border: solid green; */
    /* border: solid blue; */
    width: 45%;
}

form {
    /* border: solid green; */
    display: flex;
    align-items: center;
}

input {
    /* border: solid red; */
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff;
    color: #212529;
    padding: 6px 12px 6px 12px;
    width: 100%;
    border: 1px solid #0a95c0;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
    align-self: stretch;
    transition: all 0.3s ease-in-out;
}

button:hover .search-icon {
    /* fill: #fff; */
    /* border: solid red; */
    /* color: red; */
    /* fill: red; */
}

.button-1,
.button-2 {
    border: none;
    display: block;
    background-color: #f0f7f8;
    /* border: solid red; */
    padding: 12px 22px;
    align-self: stretch;
    cursor: pointer;
    border: 1px solid #0a95c0;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
    transition: all 0.1s ease-in-out;
}

button:hover {
    background-color: #0a95c0;
}

.button-1 {
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}

.button-2 {
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}

input:focus {
    outline: none;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.header {
    /* border: solid blue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
}

.toggle {
    height: 35px;
    width: 65px;
    border-radius: 100px;
    background-color: red;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid #0a95c0;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
    transition: all 0.1s ease-in-out;
    cursor: pointer;
    position: relative;
}

.toggle-ball {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #b4b9ba;
    transition: all 0.3s ease-in-out;
    position: absolute;
}
