@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

body {
    font-family: "Lato", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.form-dark {
    width: 45%;
}

form {
    display: flex;
    align-items: center;
}

input {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff;
    color: #212529;
    padding: 6px 12px 6px 12px;
    width: 100%;
    border: 1px solid #0a95c0;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
    align-self: stretch;
    transition: all 0.3s ease-in-out;
}

input:focus {
    outline: none;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.toggle {
    height: 35px;
    width: 65px;
    border-radius: 100px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid #0a95c0;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
    transition: all 0.1s ease-in-out;
    cursor: pointer;
    position: relative;
}

.toggle-ball {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #b4b9ba;
    transition: all 0.3s ease-in-out;
    position: absolute;
}

.container {
    /* height: 100vh; */
    /* border: solid red; */
}

.overall-container {
    height: 100vh;
    transition: all 0.3 ease-in-out;
}

.container {
    border: solid red;
}

.dashboard {
    border: solid green;
}
